
/* links */
.active{
  background-color: rgb(68, 149, 231) !important;
  color:white !important;
  /* border-color: red !important; */
}

/* dropdown at header */
/* Style The Dropdown Button */
.dropbtn {
     padding-right: 15px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 13px;
    margin-left: 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -90px;
    margin-top: -8px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
    
  /*upside down triangle icon at dropdown menu*/
  .caret.caret-reversed {
    border-bottom: 10px solid #000000;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 20;
    vertical-align: top;
    width: 20;
    transform: rotate(180deg);
  }

  /* side nav */
  .sidenav-icon{
    font-size:30px;
    cursor:pointer;
    margin-left: 20px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 2;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #2f2f2f;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* dropdown at table */

  /* Dropdown*/
.option-btn {
  /* background-image: url('../svg/setting.svg'); */
  object-fit: contain;
  padding: 15px 0 10px 35px;
  margin-top: 5px;
  margin-left: 15px;
  background-repeat: no-repeat;
  border: none;
  z-index: 2;
  position: relative;
}
.option-dropdown {
  position: relative;
  display: inline-block;
}
.option-dropdown-content {
  display: none !important;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 40px;
  margin-top: -40px;
  padding: 20px;
}
.option-dropdown-content button {
  padding: 5px 5px;
  display: block;
}

.option-dropdown:hover .option-dropdown-content {display: block !important;}